<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <title>Bienvenido</title>
</head>
<body>
<div class="welcome-container">
    <h1>Bienvenido</h1>
    <p>Gracias por visitar nuestro sitio web. ¡Esperamos que encuentres lo que estás buscando!</p>

    <hr>

    <div sec:authorize="hasRole('MANAGER')">

        (Only for Manager peeps)
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a>
        </p>

    </div>

    <div sec:authorize="hasRole('ADMIN')">

        (Only for Admin peeps)
        <p>
            <a th:href="@{/systems}">IT Systems Meeting</a>
        </p>

    </div>

    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>

    <hr>

    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
    </form>
</div>
</body>
</html>